@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font: 1.6rem v.$font;
  background-color: v.$bg-white;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;

  @media (max-width: 767px) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
h2 {
  font-size: 2rem;
  line-height: 2.2rem;

  @media (max-width: 767px) {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;

  @media (max-width: 767px) {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
button:hover{
  cursor: pointer;
}