//Colors
    //Aside
$aside: #373B53;
$light-aside: #373b5328;
$moon: #7E88C3;
$line: #494E6E;
    //Root
$purple: #7C5DFA;
$light-purple: #9277FF;
$darkmode-bg: #141625;
$darkmode-container: #1E2139;
$darkmode-gray: #DFE3FA;
$gray: #7E88C3;
$dark-gray: #888EB0;
$black: #0C0E16;
$bg-white: #F8F8FB;
$white: #FFF;
$orange: #EC5757;
$light-orange: #FF9797;
$green: #33D69F;
$light-green: #46daa927;
$yellow: #FF8F00;
$light-yellow: #ff91002c;




//Space
$mb-padding: 2.4rem;
$dsk-padding: 5rem;

//Fonts
$font: 'League Spartan', sans-serif;

//Size
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;