//Colors
$purple: #7C5DFA;
$light-purple: #9277FF;
$very-dark-blue: #141625;
$dark-blue: #1E2139;
$night-blue: #252945;
$light-gray: #DFE3FA;
$gray: #888EB0;
$gray-blue: #7E88C3;
$black: #0C0E16;
$white: #F8F8FB;
$orange: #EC5757;
$light-orange: #FF9797;


//Space
$separacion: 5rem;

//Fonts
$font: 'League Spartan', sans-serif;

//Size
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;