html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  font: 1.6rem "League Spartan", sans-serif;
  background-color: #F8F8FB;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 2.2rem;
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
@media (max-width: 767px) {
  h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

button:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #0C0E16;
}

.color-gray {
  color: #7E88C3;
}

.color-dark-gray {
  color: #888EB0;
  font-weight: bold;
}

.input-date {
  position: relative;
}
.input-date__open-btn {
  position: absolute;
  top: 3.65rem;
  right: 1.25rem;
  z-index: 3;
  pointer-events: none;
}
.input-date__btn {
  background-color: #FFF;
  border: none;
}

.input-text {
  position: relative;
}
.input-text__open-btn {
  position: absolute;
  top: 3.65rem;
  right: 1.25rem;
  z-index: 3;
  pointer-events: none;
}
.input-text__btn {
  background-color: #FFF;
  border: none;
}

.btn {
  height: 4.8rem;
}

.active {
  color: #7C5DFA;
}

.aside {
  display: flex;
  background-color: #373B53;
  height: 7.2rem;
}
.aside__content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 2px solid #494E6E;
}
.aside__btn {
  border: none;
  background-color: transparent;
  padding: 2.4rem;
}
.aside__avatar {
  padding: 2rem;
}
.aside__img {
  width: 3.2rem;
  border-radius: 50%;
}

.logo {
  width: 7.2rem;
  height: 100%;
  background-color: #7C5DFA;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.logo__light {
  position: absolute;
  background-color: #9277FF;
  width: 100%;
  height: 50%;
  bottom: 0;
  border-radius: 2rem 0 2rem 0;
}
.logo__img {
  z-index: 3;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3.2rem 2.4rem;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__btns {
  display: flex;
  gap: 1.5rem;
}
.header__filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__filter:hover {
  cursor: pointer;
}
.header__btn {
  width: 9rem;
  background-color: #7C5DFA;
  color: #FFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.6rem;
  border-radius: 2.4rem;
}
.header__btn:hover {
  background-color: #9277FF;
}
.header__plus {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invoice-container {
  background-color: #FFF;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 0.8rem;
  padding: 2.4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  align-items: center;
}
.invoice-container p:nth-child(2) {
  text-align: right;
}
.invoice-container__status--green {
  background: rgba(70, 218, 169, 0.1529411765);
  border-radius: 0.6rem;
  width: 10.4rem;
  height: 4rem;
  gap: 2.4rem;
  color: #33D69F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invoice-container__circle--green {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #33D69F;
  border-radius: 50%;
}
.invoice-container__status--yellow {
  background: rgba(255, 145, 0, 0.1725490196);
  border-radius: 0.6rem;
  width: 10.4rem;
  height: 4rem;
  gap: 2.4rem;
  color: #FF8F00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invoice-container__circle--yellow {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #FF8F00;
  border-radius: 50%;
}
.invoice-container__status--black {
  background: rgba(55, 59, 83, 0.1568627451);
  border-radius: 0.6rem;
  width: 10.4rem;
  height: 4rem;
  gap: 2.4rem;
  color: #373B53;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invoice-container__circle--black {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #373B53;
  border-radius: 50%;
}

.empty {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}
.empty p {
  width: 18rem;
}

.filter-by-status {
  width: 14rem;
  position: absolute;
  top: 9rem;
  right: 9rem;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  padding: 1rem;
}
.filter-by-status__btn {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  background-color: transparent;
  border: none;
}
.filter-by-status__btn h3 {
  font-size: 1.2rem;
}
.filter-by-status__square {
  width: 1.6rem;
  height: 1.6rem;
  background: #dfe3fa;
  border-radius: 2px;
  position: relative;
}
.filter-by-status__square:hover {
  border: 1px solid #7C5DFA;
}
.check {
  height: 100%;
  width: 100%;
  padding: 0.3rem;
  background-color: #7C5DFA;
}

.darkmode {
  background-color: #141625;
  color: #FFF;
}
.darkmode .color-gray {
  color: #DFE3FA;
}
.darkmode .color-dark-gray {
  color: #888EB0;
  font-weight: bold;
}
.darkmode .invoice {
  background-color: #141625;
}
.darkmode .invoice-container {
  background-color: #1E2139;
  color: #FFF;
}
.darkmode .invoice-form__fake-input {
  background-color: #252945;
  border: 0.2rem solid #1E2139;
}
.darkmode__h3 {
  color: #FFF;
}
.darkmode .invoice input {
  background-color: #252945;
  color: white;
  border: 0.2rem solid #1E2139;
}
.darkmode .invoice input:focus-visible {
  border: 0.2rem solid #7C5DFA;
  outline: none;
}
.darkmode .invoice input::-moz-placeholder {
  color: white;
}
.darkmode .invoice input::placeholder {
  color: white;
}
.darkmode .invoice-form__add-item {
  background-color: #252945;
  color: #888EB0;
}
.darkmode .invoice__discard {
  background-color: #252945;
  color: #DFE3FA;
}
.darkmode .invoice__discard:hover {
  background-color: #FFF;
}
.darkmode .invoice__draft {
  color: #DFE3FA;
}
.darkmode .invoice__draft:hover {
  background-color: #1E2139;
}
.darkmode .payment {
  background: #252945;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.darkmode .payment div {
  color: #FFF;
}
.darkmode .calendar {
  background: #252945;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.darkmode .filter-by-status {
  background: #252945;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.darkmode .filter-by-status__btn {
  color: #FFF;
}
.darkmode .filter-by-status__square {
  background: #1e2139;
  border-radius: 2px;
}

.invoice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}
.invoice__close-btn {
  margin: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: none;
}
.invoice__down-gradient {
  width: 100%;
  height: 6.4rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
}
.invoice__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem;
}
.invoice__discard {
  height: 4.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 2.4rem;
  padding: 1rem;
  background-color: #F8F8FB;
  color: #7E88C3;
}
.invoice__discard:hover {
  background-color: #DFE3FA;
  cursor: pointer;
}
.invoice__draft {
  height: 4.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 2.4rem;
  padding: 1rem;
  background-color: #373B53;
  color: #888EB0;
}
.invoice__draft:hover {
  background-color: #0C0E16;
  cursor: pointer;
}
.invoice__save {
  height: 4.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 2.4rem;
  padding: 1rem;
  background-color: #7C5DFA;
  color: #FFF;
}
.invoice__save:hover {
  background-color: #9277FF;
  cursor: pointer;
}

.invoice-form {
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}
.invoice-form__bill-from, .invoice-form__bill-to {
  width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}
.invoice-form__bill-from div:nth-child(3n+1) {
  grid-column: 1/3;
}
.invoice-form__bill-to div:nth-child(1n) {
  grid-column: 1/3;
}
.invoice-form__bill-to div:nth-child(4) {
  grid-column: 1/2;
}
.invoice-form__bill-to div:nth-child(5) {
  grid-column: 2/3;
}
.invoice-form__item-list {
  width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}
.invoice-form__item-list div:nth-child(1) {
  grid-column: 1/5;
}
.invoice-form__item-list img {
  align-self: center;
  justify-self: center;
}
.invoice-form__item-list img:hover {
  cursor: pointer;
}
.invoice-form__input-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.invoice-form__add-item {
  height: 4.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 2.4rem;
  padding: 1rem;
  background-color: #F8F8FB;
  color: #7E88C3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invoice-form__add-item:hover {
  background-color: #DFE3FA;
  cursor: pointer;
}
.invoice-form__selector {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.invoice-form__fake-input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 0.2rem solid #DFE3FA;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invoice-form__fake-input:hover {
  cursor: pointer;
  border: 0.2rem solid #7C5DFA;
}
.invoice-form label {
  color: #7E88C3;
}
.invoice-form input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 0.2rem solid #DFE3FA;
  border-radius: 0.4rem;
  outline-color: #7C5DFA;
}
.invoice-form h3 {
  color: #7C5DFA;
}

.payment {
  width: 24rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -15rem;
  right: 0;
  background-color: #FFF;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 0.8rem;
}
.payment div {
  background-color: transparent;
  padding: 1rem;
  color: black;
  border: none;
}
.payment div:hover {
  cursor: pointer;
}

.calendar {
  position: absolute;
  top: 7rem;
  right: 0;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 24rem;
}
.calendar__month {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar__month img:hover {
  cursor: pointer;
}
.calendar__grid-days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
}
.calendar__available:hover {
  color: #7C5DFA;
  cursor: pointer;
}
.calendar__inactive {
  color: #888EB0;
}
.calendar__inactive:hover {
  color: #888EB0;
}/*# sourceMappingURL=style.css.map */